p {
    font-size: 16px;
    line-height: 28px;
    color: #c4b7b7;
    margin: 0;
    padding-top: 10px;
}

#result {
    border: 5px solid #6074d1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#favButton {
    margin-top: 10px;
    border: 1px solid #6074d1;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}