
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#header {
  font-weight: bold;
  font-size: 34px;
}

h2 {
  text-align: start;
  margin-bottom: 20px;
  margin-top: 3px;
}

#destination {
  font-size: 20px;
  border-radius: 10px;
  max-width: fit-content;
}

#search {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

#currentCountry {
  margin-top: 20px;
  border: 5px solid #6074d1;
  padding: 20px;
  max-width: fit-content;
  border-radius: 10px;
}

#favourites {
  border-radius: 10px;
  max-width: fit-content;
  min-width: 300px;
  border: 5px solid #6074d1;
  cursor: pointer;
  :hover {
    background-color: #2b2828;
    border-radius: 10px;
  }
}

#countryAndFavs {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

#currentCountry,
#favourite {
  flex: 1;
  min-width: 300px; 
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;       
  justify-content: center;   
  text-align: center;
  min-height: 80%;          
  gap: 30px;                 
}